:root[data-theme="konnect-day"] {
  --kui-color-background: #ffffff; /** color-background */
  --kui-color-background-disabled: #f1f3f1; /** color-background-disabled */
  --kui-color-background-inverse: #090d09; /** color-background-inverse */
  --kui-color-background-overlay: rgba(9, 13, 9, 0.6); /** color-background-overlay */
  --kui-color-background-transparent: rgba(0, 0, 0, 0); /** color-background-transparent */
  --kui-color-background-brand: #090d09; /** color-background-brand */
  --kui-color-background-brand-strong: #090d09; /** color-background-brand-strong */
  --kui-color-background-brand-stronger: #090d09; /** color-background-brand-stronger */
  --kui-color-background-brand-strongest: #090d09; /** color-background-brand-strongest */
  --kui-color-background-brand-weak: #181b18; /** color-background-brand-weak */
  --kui-color-background-brand-weaker: #242824; /** color-background-brand-weaker */
  --kui-color-background-brand-weakest: #3d443d; /** color-background-brand-weakest */
  --kui-color-background-primary: #3d443d; /** color-background-primary */
  --kui-color-background-primary-strong: #242824; /** color-background-primary-strong */
  --kui-color-background-primary-stronger: #181b18; /** color-background-primary-stronger */
  --kui-color-background-primary-strongest: #090d09; /** color-background-primary-strongest */
  --kui-color-background-primary-weak: #9da99d; /** color-background-primary-weak */
  --kui-color-background-primary-weaker: #e3e8e3; /** color-background-primary-weaker */
  --kui-color-background-primary-weakest: #f1f3f1; /** color-background-primary-weakest */
  --kui-color-background-neutral: #4e594e; /** color-background-neutral */
  --kui-color-background-neutral-strong: #3d443d; /** color-background-neutral-strong */
  --kui-color-background-neutral-stronger: #242824; /** color-background-neutral-stronger */
  --kui-color-background-neutral-strongest: #181b18; /** color-background-neutral-strongest */
  --kui-color-background-neutral-weak: #e3e8e3; /** color-background-neutral-weak */
  --kui-color-background-neutral-weaker: #f1f3f1; /** color-background-neutral-weaker */
  --kui-color-background-neutral-weakest: #f9fbf9; /** color-background-neutral-weakest */
  --kui-color-background-success: #007d60; /** color-background-success */
  --kui-color-background-success-strong: #005944; /** color-background-success-strong */
  --kui-color-background-success-stronger: #004737; /** color-background-success-stronger */
  --kui-color-background-success-strongest: #003629; /** color-background-success-strongest */
  --kui-color-background-success-weak: #00d6a4; /** color-background-success-weak */
  --kui-color-background-success-weaker: #b5ffee; /** color-background-success-weaker */
  --kui-color-background-success-weakest: #ecfffb; /** color-background-success-weakest */
  --kui-color-background-warning: #998a00; /** color-background-warning */
  --kui-color-background-warning-strong: #807300; /** color-background-warning-strong */
  --kui-color-background-warning-stronger: #665c00; /** color-background-warning-stronger */
  --kui-color-background-warning-strongest: #4d4500; /** color-background-warning-strongest */
  --kui-color-background-warning-weak: #ffe500; /** color-background-warning-weak */
  --kui-color-background-warning-weaker: #fff496; /** color-background-warning-weaker */
  --kui-color-background-warning-weakest: #fffce0; /** color-background-warning-weakest */
  --kui-color-background-danger: #d60027; /** color-background-danger */
  --kui-color-background-danger-strong: #ad0020; /** color-background-danger-strong */
  --kui-color-background-danger-stronger: #850018; /** color-background-danger-stronger */
  --kui-color-background-danger-strongest: #5c0011; /** color-background-danger-strongest */
  --kui-color-background-danger-weak: #ff395d; /** color-background-danger-weak */
  --kui-color-background-danger-weaker: #ffbdc9; /** color-background-danger-weaker */
  --kui-color-background-danger-weakest: #ffe5ea; /** color-background-danger-weakest */
  --kui-color-background-info: #0076f4; /** color-background-info */
  --kui-color-background-info-strong: #0063cc; /** color-background-info-strong */
  --kui-color-background-info-stronger: #004a99; /** color-background-info-stronger */
  --kui-color-background-info-strongest: #003166; /** color-background-info-strongest */
  --kui-color-background-info-weak: #5facff; /** color-background-info-weak */
  --kui-color-background-info-weaker: #beddff; /** color-background-info-weaker */
  --kui-color-background-info-weakest: #eef6ff; /** color-background-info-weakest */
  --kui-color-background-decorative-purple: #6f28ff; /** color-background-decorative-purple */
  --kui-color-background-decorative-purple-weakest: #f5f0ff; /** color-background-decorative-purple-weakest */
  --kui-color-background-decorative-aqua-weakest: #ecfcff; /** color-background-decorative-aqua-weakest */
  --kui-color-background-decorative-pink-weakest: #fff0f7; /** color-background-decorative-pink-weakest */
  --kui-color-border: #e3e8e3; /** color-border */
  --kui-color-border-disabled: #f1f3f1; /** color-border-disabled */
  --kui-color-border-inverse: rgba(255, 255, 255, 0.2); /** color-border-inverse */
  --kui-color-border-transparent: rgba(0, 0, 0, 0); /** color-border-transparent */
  --kui-color-border-brand: #090d09; /** color-border-brand */
  --kui-color-border-brand-strong: #090d09; /** color-border-brand-strong */
  --kui-color-border-brand-stronger: #090d09; /** color-border-brand-stronger */
  --kui-color-border-brand-strongest: #090d09; /** color-border-brand-strongest */
  --kui-color-border-brand-weak: #181b18; /** color-border-brand-weak */
  --kui-color-border-brand-weaker: #242824; /** color-border-brand-weaker */
  --kui-color-border-brand-weakest: #3d443d; /** color-border-brand-weakest */
  --kui-color-border-primary: #9da99d; /** color-border-primary */
  --kui-color-border-primary-strong: #242824; /** color-border-primary-strong */
  --kui-color-border-primary-stronger: #181b18; /** color-border-primary-stronger */
  --kui-color-border-primary-strongest: #090d09; /** color-border-primary-strongest */
  --kui-color-border-primary-weak: #9da99d; /** color-border-primary-weak */
  --kui-color-border-primary-weaker: #e3e8e3; /** color-border-primary-weaker */
  --kui-color-border-primary-weakest: #f1f3f1; /** color-border-primary-weakest */
  --kui-color-border-neutral: #4e594e; /** color-border-neutral */
  --kui-color-border-neutral-strong: #3d443d; /** color-border-neutral-strong */
  --kui-color-border-neutral-stronger: #242824; /** color-border-neutral-stronger */
  --kui-color-border-neutral-strongest: #181b18; /** color-border-neutral-strongest */
  --kui-color-border-neutral-weak: #9da99d; /** color-border-neutral-weak */
  --kui-color-border-neutral-weaker: #e3e8e3; /** color-border-neutral-weaker */
  --kui-color-border-neutral-weakest: #f1f3f1; /** color-border-neutral-weakest */
  --kui-color-border-danger: #d60027; /** color-border-danger */
  --kui-color-border-danger-strong: #ad0020; /** color-border-danger-strong */
  --kui-color-border-danger-stronger: #850018; /** color-border-danger-stronger */
  --kui-color-border-danger-strongest: #5c0011; /** color-border-danger-strongest */
  --kui-color-border-danger-weak: #ff395d; /** color-border-danger-weak */
  --kui-color-border-danger-weaker: #ffbdc9; /** color-border-danger-weaker */
  --kui-color-border-danger-weakest: #ffe5ea; /** color-border-danger-weakest */
  --kui-color-border-decorative-purple: #6f28ff; /** color-border-decorative-purple */
  --kui-color-border-decorative-aqua-weaker: #b3f1ff; /** color-border-decorative-aqua-weaker */
  --kui-color-text: #3d443d; /** color-text */
  --kui-color-text-disabled: #9da99d; /** color-text-disabled */
  --kui-color-text-inverse: #ffffff; /** color-text-inverse */
  --kui-color-text-fixed-light: #ffffff; /** color-text-fixed-light */
  --kui-color-text-brand: #ccff00; /** color-text-brand */
  --kui-color-text-brand-stronger: #dfff5f; /** color-text-brand-stronger */
  --kui-color-text-brand-strongest: #e9ff8f; /** color-text-brand-strongest */
  --kui-color-text-brand-weak: #a3cc00; /** color-text-brand-weak */
  --kui-color-text-brand-weaker: #7a9900; /** color-text-brand-weaker */
  --kui-color-text-brand-weakest: #526600; /** color-text-brand-weakest */
  --kui-color-text-primary: #3d443d; /** color-text-primary */
  --kui-color-text-primary-strong: #242824; /** color-text-primary-strong */
  --kui-color-text-primary-stronger: #181b18; /** color-text-primary-stronger */
  --kui-color-text-primary-trong: #d6ff30; /** color-text-brand-strong */
  --kui-color-text-primary-strongest: #090d09; /** color-text-primary-strongest */
  --kui-color-text-primary-weak: #9da99d; /** color-text-primary-weak */
  --kui-color-text-primary-weaker: #e3e8e3; /** color-text-primary-weaker */
  --kui-color-text-primary-weakest: #f1f3f1; /** color-text-primary-weakest */
  --kui-color-text-neutral: #4e594e; /** color-text-neutral */
  --kui-color-text-neutral-strong: #3d443d; /** color-text-neutral-strong */
  --kui-color-text-neutral-stronger: #242824; /** color-text-neutral-stronger */
  --kui-color-text-neutral-strongest: #181b18; /** color-text-neutral-strongest */
  --kui-color-text-neutral-weak: #9da99d; /** color-text-neutral-weak */
  --kui-color-text-neutral-weaker: #e3e8e3; /** color-text-neutral-weaker */
  --kui-color-text-neutral-weakest: #f1f3f1; /** color-text-neutral-weakest */
  --kui-color-text-success: #007d60; /** color-text-success */
  --kui-color-text-success-strong: #005944; /** color-text-success-strong */
  --kui-color-text-success-stronger: #004737; /** color-text-success-stronger */
  --kui-color-text-success-strongest: #003629; /** color-text-success-strongest */
  --kui-color-text-success-weak: #00d6a4; /** color-text-success-weak */
  --kui-color-text-success-weaker: #b5ffee; /** color-text-success-weaker */
  --kui-color-text-success-weakest: #ecfffb; /** color-text-success-weakest */
  --kui-color-text-warning: #807300; /** color-text-warning */
  --kui-color-text-warning-strong: #807300; /** color-text-warning-strong */
  --kui-color-text-warning-stronger: #665c00; /** color-text-warning-stronger */
  --kui-color-text-warning-strongest: #4d4500; /** color-text-warning-strongest */
  --kui-color-text-warning-weak: #ffe500; /** color-text-warning-weak */
  --kui-color-text-warning-weaker: #fff496; /** color-text-warning-weaker */
  --kui-color-text-warning-weakest: #fffce0; /** color-text-warning-weakest */
  --kui-color-text-danger: #d60027; /** color-text-danger */
  --kui-color-text-danger-strong: #ad0020; /** color-text-danger-strong */
  --kui-color-text-danger-stronger: #850018; /** color-text-danger-stronger */
  --kui-color-text-danger-strongest: #5c0011; /** color-text-danger-strongest */
  --kui-color-text-danger-weak: #ff395d; /** color-text-danger-weak */
  --kui-color-text-danger-weaker: #ffbdc9; /** color-text-danger-weaker */
  --kui-color-text-danger-weakest: #ffe5ea; /** color-text-danger-weakest */
  --kui-color-text-info: #0076f4; /** color-text-info */
  --kui-color-text-info-strong: #0063cc; /** color-text-info-strong */
  --kui-color-text-info-stronger: #004a99; /** color-text-info-stronger */
  --kui-color-text-info-strongest: #003166; /** color-text-info-strongest */
  --kui-color-text-info-weak: #5facff; /** color-text-info-weak */
  --kui-color-text-info-weaker: #beddff; /** color-text-info-weaker */
  --kui-color-text-info-weakest: #eef6ff; /** color-text-info-weakest */
  --kui-color-text-decorative-aqua: #00abd2; /** color-text-decorative-aqua */
  --kui-color-text-decorative-pink: #d60067; /** color-text-decorative-pink */
  --kui-color-text-decorative-purple: #6f28ff; /** color-text-decorative-purple */
  --kui-color-text-decorative-purple-strong: #5200f5; /** Strong purple text color for decorative purposes (purple.70). */
  --kui-animation-duration-20: 0.2s; /** Default transition timing */
  --kui-border-radius-0: 0px; /** 0px border radius. */
  --kui-border-radius-10: 2px; /** 2px border radius. */
  --kui-border-radius-20: 4px; /** 4px border radius. */
  --kui-border-radius-30: 6px; /** 6px border radius. */
  --kui-border-radius-40: 8px; /** 8px border radius. */
  --kui-border-radius-50: 10px; /** 10px border radius. */
  --kui-border-radius-circle: 50%; /** 50% border radius used to create circles. */
  --kui-border-radius-round: 100px; /** 100px border radius used to create pill shapes. */
  --kui-border-width-0: 0px; /** 0px border width. */
  --kui-border-width-10: 1px; /** 1px border width. */
  --kui-border-width-20: 2px; /** 2px border width. */
  --kui-border-width-30: 4px; /** 4px border width. */
  --kui-breakpoint-mobile: 640px; /** Used for larger mobile screens. Any viewport width under this value is considered mobile. */
  --kui-breakpoint-phablet: 768px; /** Used for tablet screens. */
  --kui-breakpoint-tablet: 1024px; /** Used for larger tablet screens. Any viewport width less than this value will likely show a mobile layout. Any viewport width this value and greater will likely show a desktop layout. */
  --kui-breakpoint-laptop: 1280px; /** Used for standard desktop screens. */
  --kui-breakpoint-desktop: 1536px; /** Used for larger desktop screens. */
  --kui-icon-color-danger: #f5002d; /** Danger color for icons. */
  --kui-icon-color-neutral: #697769; /** Neutral color for icons. */
  --kui-icon-color-primary: #3094ff; /** Primary color for icons. */
  --kui-icon-color-success: #00a17b; /** Success color for icons. */
  --kui-icon-color-warning: #ffe500; /** Warning color for icons. */
  --kui-icon-size-10: 10px; /** 10px icon size. */
  --kui-icon-size-20: 12px; /** 12px icon size. */
  --kui-icon-size-30: 16px; /** 16px icon size. */
  --kui-icon-size-40: 20px; /** 20px icon size. */
  --kui-icon-size-50: 24px; /** 24px icon size (default). */
  --kui-icon-size-60: 32px; /** 32px icon size. */
  --kui-icon-size-70: 40px; /** 40px icon size. */
  --kui-icon-size-80: 48px; /** 48px icon size. */
  --kui-method-color-background-connect: #f5f0ff; /** method-color-background-connect */
  --kui-method-color-background-custom: #9da99d; /** method-color-background-custom */
  --kui-method-color-background-delete: #ffe5ea; /** method-color-background-delete */
  --kui-method-color-background-get: #ecfffb; /** method-color-background-get */
  --kui-method-color-background-head: #3d443d; /** method-color-background-head */
  --kui-method-color-background-options: #e3e8e3; /** method-color-background-options */
  --kui-method-color-background-patch: #ecfcff; /** method-color-background-patch */
  --kui-method-color-background-post: #eef6ff; /** method-color-background-post */
  --kui-method-color-background-put: #fffce0; /** method-color-background-put */
  --kui-method-color-background-trace: #fff0f7; /** method-color-background-trace */
  --kui-method-color-text-connect: #6f28ff; /** method-color-text-connect */
  --kui-method-color-text-connect-strong: #5200f5; /** Strong method-color-text-connect. */
  --kui-method-color-text-custom: #090d09; /** method-color-text-custom */
  --kui-method-color-text-custom-strong: #090d09; /** Strong method-color-text-custom. */
  --kui-method-color-text-delete: #d60027; /** method-color-text-delete */
  --kui-method-color-text-delete-strong: #ad0020; /** Strong method-color-text-delete. */
  --kui-method-color-text-get: #007d60; /** method-color-text-get */
  --kui-method-color-text-get-strong: #005944; /** Strong method-color-text-get. */
  --kui-method-color-text-head: #e3e8e3; /** method-color-text-head */
  --kui-method-color-text-head-strong: #d2d7d2; /** Strong method-color-text-head. */
  --kui-method-color-text-options: #3d443d; /** method-color-text-options */
  --kui-method-color-text-options-strong: #242824; /** Strong method-color-text-options. */
  --kui-method-color-text-patch: #00819d; /** method-color-text-patch */
  --kui-method-color-text-patch-strong: #00647a; /** Strong method-color-text-patch. */
  --kui-method-color-text-post: #0076f4; /** method-color-text-post */
  --kui-method-color-text-post-strong: #0063cc; /** Strong method-color-text-post. */
  --kui-method-color-text-put: #998a00; /** method-color-text-put */
  --kui-method-color-text-put-strong: #807300; /** Strong method-color-text-put. */
  --kui-method-color-text-trace: #d60067; /** method-color-text-trace */
  --kui-method-color-text-trace-strong: #ad0053; /** Strong method-color-text-trace. */
  --kui-navigation-color-background: #001933; /** blue.100 */
  --kui-navigation-color-background-selected: rgba(255, 255, 255, 0.12); /** The background color of a selected navigation item. */
  --kui-navigation-color-border: rgba(255, 255, 255, 0.12); /** rgba(white, 0.12) */
  --kui-navigation-color-border-child: #00fabe; /** The border color for a selected child navigation item. */
  --kui-navigation-color-border-divider: rgba(255, 255, 255, 0.24); /** The color of the navigation section divider. */
  --kui-navigation-color-text: #beddff; /** Navigation link and icon color. */
  --kui-navigation-color-text-focus: #ffffff; /** Navigation link and icon focus-visible color. */
  --kui-navigation-color-text-hover: #eef6ff; /** Navigation link and icon hover color. */
  --kui-navigation-color-text-selected: #00fabe; /** Navigation link and icon selected color. */
  --kui-navigation-shadow-border: 0 0 0 1px rgba(255, 255, 255, 0.12) inset; /** The box-shadow for a focus-visible navigation link. */
  --kui-navigation-shadow-border-child: 4px 0 0 0 #00fabe inset; /** The left box-shadow for an active child navigation link. */
  --kui-navigation-shadow-focus: 0 0 0 1px rgba(255, 255, 255, 0.60) inset; /** Navigation link focus-visible box-shadow. */
  --kui-status-color-100: #beddff; /** status-color-100 */
  --kui-status-color-101: #8fc5ff; /** status-color-101 */
  --kui-status-color-102: #5facff; /** status-color-102 */
  --kui-status-color-103: #3094ff; /** status-color-103 */
  --kui-status-color-200: #b5ffee; /** status-color-200 */
  --kui-status-color-201: #00fabe; /** status-color-201 */
  --kui-status-color-202: #00d6a4; /** status-color-202 */
  --kui-status-color-203: #00a17b; /** status-color-203 */
  --kui-status-color-204: #007d60; /** status-color-204 */
  --kui-status-color-205: #005944; /** status-color-205 */
  --kui-status-color-206: #ecfffb; /** status-color-206 */
  --kui-status-color-207: #b5ffee; /** status-color-207 */
  --kui-status-color-208: #00fabe; /** status-color-208 */
  --kui-status-color-226: #00d6a4; /** status-color-226 */
  --kui-status-color-300: #fff496; /** status-color-300 */
  --kui-status-color-301: #ffed4b; /** status-color-301 */
  --kui-status-color-302: #ffe500; /** status-color-302 */
  --kui-status-color-303: #b3a100; /** status-color-303 */
  --kui-status-color-304: #998a00; /** status-color-304 */
  --kui-status-color-305: #807300; /** status-color-305 */
  --kui-status-color-307: #fff496; /** status-color-307 */
  --kui-status-color-308: #ffed4b; /** status-color-308 */
  --kui-status-color-400: #ffc6b3; /** status-color-400 */
  --kui-status-color-401: #ff9877; /** status-color-401 */
  --kui-status-color-402: #ff6d3c; /** status-color-402 */
  --kui-status-color-403: #f74408; /** status-color-403 */
  --kui-status-color-404: #d13500; /** status-color-404 */
  --kui-status-color-405: #a32900; /** status-color-405 */
  --kui-status-color-406: #ffc6b3; /** status-color-406 */
  --kui-status-color-407: #ff9877; /** status-color-407 */
  --kui-status-color-408: #ff6d3c; /** status-color-408 */
  --kui-status-color-409: #f74408; /** status-color-409 */
  --kui-status-color-410: #d13500; /** status-color-410 */
  --kui-status-color-411: #a32900; /** status-color-411 */
  --kui-status-color-412: #ffc6b3; /** status-color-412 */
  --kui-status-color-413: #ff9877; /** status-color-413 */
  --kui-status-color-414: #ff6d3c; /** status-color-414 */
  --kui-status-color-415: #f74408; /** status-color-415 */
  --kui-status-color-416: #d13500; /** status-color-416 */
  --kui-status-color-417: #a32900; /** status-color-417 */
  --kui-status-color-418: #ffc6b3; /** status-color-418 */
  --kui-status-color-421: #ff9877; /** status-color-421 */
  --kui-status-color-422: #ff6d3c; /** status-color-422 */
  --kui-status-color-423: #f74408; /** status-color-423 */
  --kui-status-color-424: #d13500; /** status-color-424 */
  --kui-status-color-425: #a32900; /** status-color-425 */
  --kui-status-color-426: #ffc6b3; /** status-color-426 */
  --kui-status-color-428: #ff9877; /** status-color-428 */
  --kui-status-color-429: #ff6d3c; /** status-color-429 */
  --kui-status-color-431: #f74408; /** status-color-431 */
  --kui-status-color-451: #d13500; /** status-color-451 */
  --kui-status-color-500: #ffbdc9; /** status-color-500 */
  --kui-status-color-501: #ff8a9f; /** status-color-501 */
  --kui-status-color-502: #ff395d; /** status-color-502 */
  --kui-status-color-503: #f5002d; /** status-color-503 */
  --kui-status-color-504: #d60027; /** status-color-504 */
  --kui-status-color-505: #ad0020; /** status-color-505 */
  --kui-status-color-506: #ffbdc9; /** status-color-506 */
  --kui-status-color-507: #ff8a9f; /** status-color-507 */
  --kui-status-color-508: #ff395d; /** status-color-508 */
  --kui-status-color-510: #f5002d; /** status-color-510 */
  --kui-status-color-511: #d60027; /** status-color-511 */
  --kui-status-color-100s: #5facff; /** status-color-100s */
  --kui-status-color-1na: #eef6ff; /** status-color-1na */
  --kui-status-color-200s: #00a17b; /** status-color-200s */
  --kui-status-color-2na: #ecfffb; /** status-color-2na */
  --kui-status-color-300s: #b3a100; /** status-color-300s */
  --kui-status-color-3na: #fffce0; /** status-color-3na */
  --kui-status-color-400s: #ff6d3c; /** status-color-400s */
  --kui-status-color-4na: #fff3ef; /** status-color-4na */
  --kui-status-color-500s: #ff395d; /** status-color-500s */
  --kui-status-color-5na: #ffe5ea; /** status-color-5na */
  --kui-status-color-background-100: #eef6ff; /** Background color for http status 100 elements (blue.10). */
  --kui-status-color-background-200: #ecfffb; /** Background color for http status 200 elements (green.10). */
  --kui-status-color-background-300: #fffce0; /** Background color for http status 300 elements (yellow.10). */
  --kui-status-color-background-400: #fff3ef; /** Background color for http status 400 elements (orange.10). */
  --kui-status-color-background-500: #ffe5ea; /** Background color for http status 500 elements (red.10). */
  --kui-status-color-text-100: #0076f4; /** Text color for http status 100 elements (blue.60). */
  --kui-status-color-text-200: #007d60; /** Text color for http status 200 elements (green.60). */
  --kui-status-color-text-300: #998a00; /** Text color for http status 300 elements (yellow.60). */
  --kui-status-color-text-400: #d13500; /** Text color for http status 400 elements (orange.60). */
  --kui-status-color-text-500: #d60027; /** Text color for http status 500 elements (red.60). */
  --kui-font-family-code: 'JetBrains Mono', Consolas, monospace; /** The standard monospace text font family. Typically used for code blocks, inline code, and copyable text. */
  --kui-font-family-heading: 'Funnel Sans', Roboto, Helvetica, sans-serif; /** The standard heading text font family. */
  --kui-font-family-text: 'Funnel Sans', Roboto, Helvetica, sans-serif; /** The standard text font family. */
  --kui-font-size-10: 10px;
  --kui-font-size-20: 12px;
  --kui-font-size-30: 14px;
  --kui-font-size-40: 16px;
  --kui-font-size-50: 18px;
  --kui-font-size-60: 20px;
  --kui-font-size-70: 24px;
  --kui-font-size-80: 32px;
  --kui-font-size-90: 40px;
  --kui-font-size-100: 48px;
  --kui-font-weight-bold: 700; /** 700: The bold font weight. */
  --kui-font-weight-medium: 500; /** 500: The medium font weight. */
  --kui-font-weight-regular: 400; /** 400: The normal font weight. */
  --kui-font-weight-semibold: 600; /** 600: The semibold font weight. */
  --kui-letter-spacing-0: normal; /** Alias for letter-spacing-normal */
  --kui-letter-spacing-minus-10: -0.12px; /** -0.12px */
  --kui-letter-spacing-minus-20: -0.24px; /** -0.24px */
  --kui-letter-spacing-minus-30: -0.32px; /** -0.32px */
  --kui-letter-spacing-minus-40: -0.4px; /** -0.4px */
  --kui-letter-spacing-minus-50: -0.48px; /** -0.48px */
  --kui-letter-spacing-normal: normal; /** normal */
  --kui-line-height-10: 12px; /** 12px */
  --kui-line-height-20: 16px; /** 16px */
  --kui-line-height-30: 20px; /** 20px */
  --kui-line-height-40: 24px; /** 24px */
  --kui-line-height-50: 28px; /** 28px */
  --kui-line-height-60: 32px; /** 32px */
  --kui-line-height-70: 36px; /** 36px */
  --kui-line-height-80: 40px; /** 40px */
  --kui-line-height-90: 48px; /** 48px */
  --kui-line-height-100: 56px; /** 56px */
  --kui-shadow: 0px 4px 20px 0px color-mix(in srgb, var(--kui-color-background-neutral-strongest) 5%, transparent);
  --kui-shadow-border: 0px 0px 0px 1px var(--kui-color-border) inset;
  --kui-shadow-border-danger: 0px 0px 0px 1px var(--kui-color-border-danger) inset;
  --kui-shadow-border-danger-strong: 0px 0px 0px 1px var(--kui-color-border-danger-strong) inset;
  --kui-shadow-border-disabled: 0px 0px 0px 1px #242622 inset;
  --kui-shadow-border-primary: 0px 0px 0px 1px var(--kui-color-border-neutral) inset;
  --kui-shadow-border-primary-strongest: 0 0 0 1px var(--kui-color-border-neutral-strongest) inset;
  --kui-shadow-border-primary-weak: 0px 0px 0px 1px var(--kui-color-border-neutral) inset;
  --kui-shadow-focus: 0px 0px 0px 4px color-mix(in srgb, var(--kui-color-border-neutral-strongest) 15%, transparent);
  --kui-space-0: 0px; /** 0px value for gaps, margin, or padding. */
  --kui-space-10: 2px; /** 2px value for gaps, margin, or padding. */
  --kui-space-20: 4px; /** 4px value for gaps, margin, or padding. */
  --kui-space-30: 6px; /** 6px value for gaps, margin, or padding. */
  --kui-space-40: 8px; /** 8px value for gaps, margin, or padding. */
  --kui-space-50: 12px; /** 12px value for gaps, margin, or padding. */
  --kui-space-60: 16px; /** 16px value for gaps, margin, or padding. */
  --kui-space-70: 20px; /** 20px value for gaps, margin, or padding. */
  --kui-space-80: 24px; /** 24px value for gaps, margin, or padding. */
  --kui-space-90: 32px; /** 32px value for gaps, margin, or padding. */
  --kui-space-100: 40px; /** 40px value for gaps, margin, or padding. */
  --kui-space-110: 48px; /** 48px value for gaps, margin, or padding. */
  --kui-space-120: 56px; /** 56px value for gaps, margin, or padding. */
  --kui-space-130: 64px; /** 64px value for gaps, margin, or padding. */
  --kui-space-140: 80px; /** 80px value for gaps, margin, or padding. */
  --kui-space-150: 96px; /** 96px value for gaps, margin, or padding. */
  --kui-space-auto: auto; /** auto */
  --kui-chart-color-background-series-1: #0076f4; /** chart-color-background-series-1 */
  --kui-chart-color-background-series-2: #00819d; /** chart-color-background-series-2 */
  --kui-chart-color-background-series-3: #00a17b; /** chart-color-background-series-3 */
  --kui-chart-color-background-series-4: #8a50ff; /** chart-color-background-series-4 */
  --kui-chart-color-background-series-5: #ff3c99; /** chart-color-background-series-5 */
  --kui-chart-color-background-series-6: #ff395d; /** chart-color-background-series-6 */
  --kui-chart-color-background-series-7: #ff6d3c; /** chart-color-background-series-7 */
  --kui-chart-color-background-series-8: #b3a100; /** chart-color-background-series-8 */
  --kui-chart-color-background-series-9: #9da99d; /** chart-color-background-series-9 */
  --kui-chart-color-background-series-10: #4e594e; /** chart-color-background-series-10 */
}
