name: Lint Commit Messages

on:
  pull_request:

jobs:
  commitlint:
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      # See https://github.com/wagoid/commitlint-github-action/issues/560
      - name: Remove tsconfig
        run: rm tsconfig.json

      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6.2.1
        with:
          configFile: commitlint.config.ts
